# Assignment 1

## Python Variables

### 1.1 
Assign the values “silver” and “Audi” to variables “color” and “brand” respectively. Use both variables to print the following sentence: "This silver audi is my car".

In [1]:
color = "silver" # Eine Variable "color" wird der Wert "silver" zugewiesen.
brand = "Audi" # Einer Variable "brand" wird der Wert "Audi" zugewiesen.
# Der Satz wird ausgegeben. Der String, der der Variable "brand" zugewiesen 
#ist wird mit der Methode .lower() in Kleinbuchstaben umgewandelt.
print("This "+color+" "+brand.lower()+" is my car.")

This silver audi is my car.

    
### 1.2 
Display the result of the following expression using variables for each number: (15+6)*7

In [2]:
a = 15          # Eine Variable "a" wird der Wert 15 zugewiesen.
b = 6           # Eine Variable "b" wird der Wert 6 zugewiesen.
c = 7           # Eine Variable "c" wird der Wert 7 zugewiesen.
print((a+b)*c)  # Die Summe von "a" und "b" wird mit "c" multipliziert und das Ergebnis wird ausgegeben.

147

## Python Strings

### 2.1
Given the following string:
text="The most popular programming languages are: Python,Java,JavaScript and C#"

    a) Add a space after each comma and assign it to the variable text
    b) Add the following string to the variable text and print it out: ", according to TIOBE Index and 
    PYPL"

In [3]:
# Der Text wird der Variable "text" zugewiesen.
text = "The most popular programming languages are: Python,Java,JavaScript and C#"  

# Die Methode .replace() wird verwendet, um alle Kommas im Text durch Kommas mit Leerzeichen zu ersetzen.
text = text.replace(",", ", ")

# Der Text wird um ", according to TIOBE Index and PYPL" erweitert.
text += ", according to TIOBE Index and PYPL"

print(text)  # Der veränderte Text wird ausgegeben.

The most popular programming languages are: Python, Java, JavaScript and C#, according to TIOBE Index and PYPL

### 2.2 
With the following string given: mystring = "THIS IS A STRING IN LOWER CASE. and this is a string in upper case"

Convert the string to the correct form: first sentence should be in lower case and the second sentence in upper case.

Display correct string.

In [4]:
# Der Text wird der Variable "mystring" zugewiesen.
mystring = "THIS IS A STRING IN LOWER CASE. and this is a string in upper case"  

# Die Methode .swapcase() wird auf "mystring" angewendet, um Großbuchstaben in Kleinbuchstaben und umgekehrt zu konvertieren.
mystring = mystring.swapcase()

print(mystring)  # Der veränderte Text wird ausgegeben.

this is a string in lower case. AND THIS IS A STRING IN UPPER CASE

## 3. Python Lists, Sets, Tuples, Dictionaries
### 3.1 
With a list given: ToDoList = ["homework", "shopping", "meeting"]

    a) Change “shopping” to “cooking”
    b) Use the append() method to add “chores” to the list

In [5]:
ToDoList = ["homework", "shopping", "meeting"]  # Eine Liste "ToDoList" mit verschiedenen Aufgaben wird erstellt.

# Das Element "shopping" wird durch "cooking" ersetzt, indem der Index des Strings "shopping" gesucht wird.
ToDoList[ToDoList.index("shopping")] = "cooking"

ToDoList.append("chores")  # Das Element "chores" wird der Liste hinzugefügt.

print(ToDoList)  # Die aktualisierte ToDo-Liste wird ausgegeben.

['homework', 'cooking', 'meeting', 'chores']

### 3.2 
Return a new set with all items from both sets.:

Sports1 = {"curling", "skating", "skiing"}

Sports2 = {"hockey", "luge", "short-track"}

In [6]:
Sports1 = {"curling", "skating", "skiing"}  # Ein Set "Sports1" wird erstellt.
Sports2 = {"hockey", "luge", "short-track"}  # Ein Set "Sports2" wird erstellt.

# Die Sets "Sports1" und "Sports2" werden mit der .union() Methode zu einem Set zusammenzufügen.
Sports = Sports1.union(Sports2)

print(Sports)  # Das zusammengefügte Set "Sports" wird ausgegeben.

{'skating', 'curling', 'short-track', 'luge', 'skiing', 'hockey'}

### 3.3 
Create a tuple containing following elements: Germany, Korea, Spain, Japan, France

    a) Use negative indexing to access fourth element of the tuple
    b) Use the range of indexes to print the first, third and fifth element of the tupl

In [7]:
countries = ("Germany", "Korea", "Spain", "Japan", "France")

#Das vierte Elemt ist Japan. Um dieses mit negativer Indexierung anzusprechen muss das zweite Element von hinten gewählt werden.
x = countries[-2]  

print("a) " + x)

a) Japan

In [8]:
countries = ("Germany", "Korea", "Spain", "Japan", "France")

#Es sind nur 5 Werte enthalten. Mit "Slicing" eines Tuples ist es möglich einen "Step"-Parameter anzugeben.
print("b) " + str(countries[0:5:2]))
#Alternativ kann einfach auf einzelne Indizes zugegriffen werden
print(countries[0] + ",", countries[2] + ",", countries[4])

b) ('Germany', 'Spain', 'France')
Germany, Spain, France

### 3.4
The following dictionary is given:

    ComputerScienceMA = {  
     "Name": "Computer Science (MA)",
     "Type": "Master",
     "Study Programm": "Fulltime",
     "ECTS": "120",
     "Degree": "Master of Science"
    }

    a) Check that dictionary is NOT empty, using len() method
    b) Iterate through the key:value pairs of dictionary

In [9]:
#Dictionary erstellen
ComputerScienceMA = {
    "Name": "Computer Science (MA)",
    "Type": "Master",
    "Study Program": "Fulltime",
    "ECTS": "120",
    "Degree": "Master of Science"
}

# Überprüfen, ob das Dictionary "ComputerScienceMA" leer ist, indem die Länge geprüft wird.
if len(ComputerScienceMA) > 0:
    print("a) The dictionary is not empty.")  # Das Dictionary ist nicht leer.
else:
    print("a) The dictionary is empty.")  # Das Dictionary ist leer.

a) The dictionary is not empty.

In [10]:
# Mit einer for Schleife werden die Schlüssel und Werte ausgegeben.
for x, y in ComputerScienceMA.items():
  print(x + ": " + y)

Name: Computer Science (MA)
Type: Master
Study Program: Fulltime
ECTS: 120
Degree: Master of Science

## 4. Python NumPy
### 4.1 
Create 3-D numpy array of lengths 4, 2, 3 along the three dimensions with random values.:

In [11]:
import numpy as np

# Es wird zufälliges Array mit 3 Dimensionen und den Längen 4, 2, 3 erstellt.
randomArray = np.random.rand(4, 2, 3)

# Die Dimensionen des Arrays und die Längen werden ausgegeben, auch um zu prüfen, ob es funktioniert hat.
print("Dimensionen: " + str(randomArray.ndim) + "\nLängen: " + str(randomArray.shape))

Dimensionen: 3
Längen: (4, 2, 3)

### 4.2 
Given is the following 1D-Array:
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8])
Copy the contents of the array "arr" to "arr2" so that even if the original array will be modified it won't 
affect the сontents of the copy (dublicated array)

In [12]:
import numpy as np

# Ein entsprechendes NumPy-Array "arr" wird erstellt.
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8])

# Ein Kopie-Array "arr2" wird erstellt.
arr2 = arr.copy()

# Überprüfen, ob ich wirklich eine Kopie und kein View erstellt habe.
arr[0] = 10

# Beide Arrays werden ausgegeben.
print("arr:", arr)
print("arr2:", arr2)

# Es wird überprüft, ob die beiden Arrays gleich sind.
if np.array_equal(arr, arr2):
    print("Die Arrays sind gleich.")  # Ausgabe, dass die Arrays gleich sind.
else:
    print("Die Arrays sind nicht gleich.")  # Ausgabe, dass die Arrays nicht gleich sind.

arr: [10  2  3  4  5  6  7  8]
arr2: [1 2 3 4 5 6 7 8]
Die Arrays sind nicht gleich.

## 5. Python Pandas
### 5.1 
Import all 3 provided Excel files (name.xlsx, land.xlsx and year.xlsx) using Pandas and combine 
them in one Dataframe.

In [13]:
import pandas as pd 

#Pfad für die Daten festlegen
pfad = "https://raw.githubusercontent.com/sven-os/assignments-data/data/01%20Assignment%20Data-20230721/"

# Die Excel-Dateien "name.xlsx", "land.xlsx" und "year.xlsx" werden aus den angegebenen Pfaden geladen.
names = pd.read_excel(pfad + "name.xlsx")
lands = pd.read_excel(pfad + "land.xlsx")
years = pd.read_excel(pfad + "year.xlsx")

# Die Daten aus den drei DataFrames werden anhand der Spalte "id" gejoint.
merge = pd.merge(names, lands, on = "id")
merge = pd.merge(merge, years, on = "id")

print(merge)#Das zusammengeführte Dataframe wird ausgegeben.

    id         name         land  year
0    1   univesity1      Germany  1974
1    2   univesity2        Italy  1980
2    3   univesity3      Germany  1970
3    4   univesity4       France  1971
4    5   univesity5          USA  1861
5    6   univesity6      Germany  1386
6    7   univesity7      England  1209
7    8   univesity8        Spain  1886
8    9   univesity9       France  1530
9   10  univesity10       Canada  1910
10  11  univesity11    Australia  1902
11  12  univesity12          USA  1890
12  13  univesity13          USA  1885
13  14  univesity14       Norway  1994
14  15  univesity15       Sweden  1477
15  16  univesity16      England  1977
16  17  univesity17      Austria  1622
17  18  univesity18      Germany  1966
18  19  univesity19      Germany  1825
19  20  univesity20        Spain  1608
20  21  univesity21  Netherlands  1575
21  22  univesity22      Austria  1669
22  23  univesity23       Poland  1816
23  24  univesity24      England  1832
24  25  univesity25      Germany  1962

### 5.2 
The following list of dictionaries given:

    list_of_colleagues = [
     {'Name': 'Mike' , 'Age': 42, 'role': "Support Technician"},
     {'Name': 'James', 'Age': 32, 'role': "Project Manager"},
     {'Name': 'Tamara', 'Age': 26, 'role': "Marketing specialist"},
     {'Name': 'Samantha' , 'Age': 29, 'role': "Software Developer"},
     {'Name': 'Alex' , 'Age': 31, 'role': "UX/UI Designer"},
    ]
    
Create a DataFrame from this list.

In [14]:
import pandas as pd

#Das Dictionary wird erzeugt.
list_of_colleagues = [
 {'Name': 'Mike' , 'Age': 42, 'role': "Support Technician"},
 {'Name': 'James', 'Age': 32, 'role': "Project Manager"},
 {'Name': 'Tamara', 'Age': 26, 'role': "Marketing specialist"},
 {'Name': 'Samantha' , 'Age': 29, 'role': "Software Developer"},
 {'Name': 'Alex' , 'Age': 31, 'role': "UX/UI Designer"},
 ]

#Das Dictionary wird in ein Dataframe umgewandelt und danach ausgegeben.
list_of_colleagues_df = pd.DataFrame(list_of_colleagues)
print(list_of_colleagues_df)

       Name  Age                  role
0      Mike   42    Support Technician
1     James   32       Project Manager
2    Tamara   26  Marketing specialist
3  Samantha   29    Software Developer
4      Alex   31        UX/UI Designer